.App-link {
    color: #61dafb;
}

.page-body {
    margin-top: 30px;
}

@media (min-width: 620px) {
    .page-body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 620px) {
    .page-body {
        margin-top: 0;
    }
}

body * {
    color: white;
    user-select: none;
}

#root {
    height: 100%;
    position: absolute;
    width: 100%;
}

.App {
    height: 100%;
}
