.App-link {
    color: #61dafb;
}

.page-body {
    margin-top: 30px;
}

@media (min-width: 620px) {
    .page-body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

body * {
    user-select: none;
}

#root {
    height: 100%;
    position: absolute;
    width: 100%;
}

.App {
    height: 100%;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}