.btn {
    height: 45px;
    width: 240px;
    color: #efefef;
    border-radius: 2px;
    text-align: center;
    line-height: 45px;
    font-weight: 900;
    cursor: pointer;
}

.success-btn {
    background: #2db083;
}

.fail-btn {
    background: #ff4646;
}