.game-tile {
    border: 1px solid #333A44;
    padding: 15px;
    width: 320px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 400ms ease-in-out;
}

.game-tile-image-frame {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.game-tile img {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.game-tile:hover img {
    transform: scale(1.05);
}

.game-tile:hover {
    background-color: #2db083;
}

.game-tile-content {
    color: white;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: color 200ms ease-in-out;
}

.game-tile:hover .game-tile-content {
    color: #090D12;
}

a {
    text-decoration: none;
}