.game-room {
    border: 1px solid #333A44;
    background-color: #494e55;
    padding: 15px;
    width: 320px;
    max-width: 320px;
    min-width: 320px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 400ms ease-in-out;
}

.game-room-image-frame {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.game-room-content {
    color: white;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: color 200ms ease-in-out;
}

.game-room:hover .game-room-content {
    color: #090D12;
}

a {
    text-decoration: none;
}